@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  visibility: hidden;
  width: 0rem;
}

.scrollbar {
  scrollbar-width: 2rem;
  scrollbar-color: red;
}

.fadein {
  animation: fadein;
  animation-timing-function: ease-in-out;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadein {
  from {
  }
  to {
    opacity: 1;
  }
}

/* .fadeout {
  animation: fadeout;
  animation-timing-function: ease-in-out;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  from {
  }
  to {
    @apply hidden;
  }
} */
