@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  visibility: hidden;
  width: 0rem;
}

.scrollbar {
  scrollbar-width: 2rem;
  scrollbar-color: red;
}

.fadein {
  animation: fadein;
  animation-timing-function: ease-in-out;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadein {
  from {
  }
  to {
    opacity: 1;
  }
}

.mybg {
  background: rgba(24, 24, 24, 1);
  background: linear-gradient(
    180deg,
    rgba(24, 24, 24, 0) 0%,
    rgba(24, 24, 24, 0.5) 10%,
    rgba(24, 24, 24, 0.8) 20%,
    rgba(24, 24, 24, 0.95) 40%,
    rgba(24, 24, 24, 1) 70%,
    rgba(24, 24, 24, 1) 100%
  );
}

.glassbg {
  background: rgba(27, 27, 27, 0.48);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(3.2px);
}

.profilebg {
  background: rgba(24, 24, 24, 1);
  background: linear-gradient(
    180deg,
    rgba(27, 27, 27, 0.48) 0%,
    rgba(27, 27, 27, 1) 2%,
    rgba(24, 24, 24, 1) 10%,
    rgba(24, 24, 24, 0.95) 40%,
    rgba(24, 24, 24, 1) 70%,
    rgba(24, 24, 24, 1) 100%
  );
}

.slidedown {
  animation: slidedown 5000ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes slidedown {
  0% {
    width: 100%;
  }

  90% {
    opacity: 0.8;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}

.slideleft {
  animation: slideleft 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  opacity: 0;
  transform: translateX(500px);
}

@keyframes slideleft {
  0% {
  }

  90% {
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.slideright {
  animation: slideright 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  opacity: 1;
  transform: translateX(0px);
}

@keyframes slideright {
  0% {
  }

  90% {
  }
  100% {
    transform: translateX(500px);
    display: none;
  }
}

/* .fadeout {
  animation: fadeout;
  animation-timing-function: ease-in-out;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  from {
  }
  to {
    @apply hidden;
  }
} */
